
*.aux
DesignSpecification_00.bbl
DesignSpecification_00.synctex.gz
DesignSpecification_00.toc
DesignSpecification_00.run.xml
DesignSpecification_00.out
DesignSpecification_00.log
DesignSpecification_00.blg
DesignSpecification_00.bcf
DesignSpecification_00.pdf
